.footer {
    background-color: #0d0d0d;
    padding: 30px 0px;
    font-size: 0.9em;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-weight: 700;
    color: #aaaaaa;
    display: flex;
    align-items: center;
}

.footer-logo .icon {
    color: #00BFFF;
    margin-right: 8px;
    font-size: 1.2em;
}