:host {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #16B4DD;
    border: 0;
    border-radius: 10px;
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    color: #0F1419;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s;
}

input:hover {
    filter: brightness(1.1);
}