:host {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #16B4DD;
    border: 0;
    border-radius: 10px;
    padding: 14px;
    margin: 10px;
    cursor: pointer;
    color: #0F1419;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

input:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 16px 0 #16b5dd80;
}