<div class="modals">
    <div inputs></div>
    <h1>{{ titulo }}</h1>
    <div class="infos">
        <form>
        @if (condicao == 'adicionar') {
            <p>{{ input1 }}</p>
            <input type="text" class="input" placeholder="placa">
            <div class="modelos">
                <p>{{ input2 }}</p>
                <input type="text" class="input" placeholder="modelo">
            </div>
        } @else if (condicao == 'encontrar') {
            <select name="veiculos">
                <option value="veiculo">Honda Civic</option>
                <option value="veiculo">Toyota Corolla</option>
            </select>
        }
        </form>
        <button (click)="close()" class="fechar">Fechar</button>
    </div>
</div>