.modals {
    background-color: #0f1419;
    padding: 90px;
    padding-bottom: 30px;
    border-radius: 20px;
}
h1 {
    color: #00ffff;
    text-shadow: 0 0 20px rgba(0, 191, 255, 0.4);
    padding-bottom: 20px;
    margin-top: -60px;
}
.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
}
.modelos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.fechar {
    border: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    color: black;
    font-family: times new 'Times New Roman', Times, serif;
    outline: none;
    padding: 10px;
}

