<div class="modals">
    <h1>Encontrar Vaga</h1>
    <div class="infos">
        <form (ngSubmit)="onSubmit()" #gateEventForm="ngForm">
            <div class="select-box">
                <h2>Selecione o Veículo: </h2>
                <select name="veiculos" [(ngModel)]="selectedVehicleId" required>
                    @if (listaVeiculos.length > 0) {
                        @for (listarVeiculos of listaVeiculos; track $index) {
                            <option [value]="listarVeiculos._id">{{ listarVeiculos.model }}</option>
                        }
                    } @else {
                        <option disabled>Nenhum veículo disponível</option>
                    }
                </select>
            </div>
            <div class="select-box">
                <h2>Tipo de Entrada: </h2>
                <select name="entrada" [(ngModel)]="selectedType" required>
                    <option value="AUTO">Automática</option>
                    <option value="MANUAL">Manual</option>
                </select>
            </div>
            <div class="button-box">
                <app-btn tipo="submit" valor="Confirmar"></app-btn>
            </div>
        </form>
        <button (click)="close()" class="fechar">Fechar</button>
    </div>
</div>