<section class="hero-section">
    <div class="logo-box">
        <lucide-icon name="car" color="#16B4DD" size="40px"></lucide-icon>
    </div>

    <div class="headline-wrap">
        <div class="main-heading">Estacionamento</div>
        <h1><span class="highlight"></span>Inteligente</h1>
        <p class="sub-heading">Encontre vagas, Economize tempo e pague de forma automática</p>
    </div>

    <div class="cta-group">
        <a href="/cadastro" class="cta-button cta-primary">
            Começar agora &rarr; 
        </a>
        <a href="/login" class="cta-button cta-secondary">
            Já tenho conta
        </a>
    </div>
    <div class="confidence-bar">
        <span>&checkmark; Mais de 500 vagas monitoradas</span>
        <span style="margin: 0 10px;">&bull;</span>
        <span>&checkmark; Sistema 24/7</span>
    </div>
</section>

<section class="beneficios-section">
    <h2>O Poder do Estacionamento Inteligente</h2>
    <div class="beneficios-grid">
        <div class="beneficio-card" id="first">
            <span class="card-icon>"><lucide-icon name="Locate" size="" color="#00BFFF"></lucide-icon></span>
            <h3>Vagas em Tempo Real</h3>
            <p><strong>Nunca mais perca tempo.</strong>Visualize a disponibilidade instantânea em um mapa interativo e encontre o seu lugar rapidamente.</p>
        </div>
        <div class="beneficio-card" id="second">
            <span class="card-icon"><lucide-icon name="Key" size="" color="#00BFFF"></lucide-icon></span>
            <h3>Check-in e Chack-out Automático</h3>
            <p><strong>Diga adeus às filas na cancela.</strong> Sua entrada e saída são automatizadas pela identificação do veículo (placa/cartão), garantindo zero fricção.</p>
        </div>

        <div class="beneficio-card" id="third">
            <span class="card-icon"><lucide-icon name="Shield" size="" color="#00BFFF"></lucide-icon></span>
            <h3>Transparência e Controle Total</h3>
            <p><strong>Pague o preço exato.</strong> Cobrança precisa por tempo de permanência, gestão de saldo pré-pago e acesso ao seu extrato de forma segura e imediata.</p>
        </div>
    </div>

    <app-call-to-action></app-call-to-action>
    
</section>

<app-footer></app-footer>