h3 {
    color: #c5c5c5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0F1419;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #282E38;
    border-radius: 10px;
    padding: 30px;
}

