label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #16B4DD;
    font-weight: 500;   
}

a:hover {
    filter: brightness(1.2);
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

p {
    color: #aaa;
    font-size: 13px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(139deg, #012a37,#000000,#000000,#022e50);
    background: linear-gradient(139deg, #012a37,#000000,#000000,#022e50);
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #282E38;
    border-radius: 10px;
    padding: 30px;
    background-color: #14171d;
    width: 90%; 
    max-width: 440px; 
    box-sizing: border-box; 
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 18px;
}

.logo-box lucide-icon {
    background-color: rgb(6, 8, 12);
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.4);
    border-radius: 20px;
    padding: 14px;
    margin-bottom: 14px;
}

.desc-box {
    text-align: center;
    margin-bottom: 18px;
}


.step-text {
    color: #aaa;
    font-size: 14px;
    margin-top: 5px;
}

.progress {
    display: flex;
    gap: 6px;
    width: 100%; 
    max-width: 380px;
    margin-bottom: 24px;
}

.barra {
    flex: 1;
    height: 6px;
    background-color: #282E38;
    border-radius: 3px;
    transition: background-color 0.8s ease;
}

.barra.filled {
    background-color: #16B4DD;
}

.step-container {
    width: 100%;
    max-width: 380px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    position: relative;
    width: 380px;
}

.input-box input {
    display: block;
    outline: none;
    width: 100%;
    border: 1px solid #282E38;
    border-radius: 8px;
    background-color: #0F1419;
    padding: 13px 36px;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}
.input-box input:focus {
    border-color: #16B4DD;
    outline: 2px solid #16B4DD;
    outline-offset: 2px;
}

.input-box lucide-icon {
    position: absolute;
    left: 8px;
    top: 41px;
}

.select-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    margin-bottom: 10px;
}

.select-box select, .select-box option {
    color: #282E38;
    display: block;
    outline: none;
    width: 100%;
    border: 1px solid #282E38;
    border-radius: 8px;
    background-color: #0F1419;
    padding: 13px 6px;
    font-size: 14px;
    color: #fff; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    box-sizing: border-box;
}

.button-box {
    width: 100%;
    max-width: 380px;
    margin-top: 5px;
}

#cadastro-button-box {
    gap: 15px;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.error {
    color: #ff5c5c;
    text-align: center;
}

.confirm-box {
    text-align: center;
    width: 100%; 
    max-width: 350px;
    margin-top: 10px;
}

.confirm-icon {
    margin-bottom: 15px;
}


.subtitle {
    color: #bbb;
    font-size: 14px;
    margin-top: -5px;
}

.review-box {
    background: #0F1419;
    border: 1px solid #282E38;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
}

.review-box p {
    color: #ddd;
    font-size: 14px;
}

.review-box p strong {
    color: #16B4DD;
    font-weight: 500; 
}


.footer-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}