<div class="card">
    <div class="title">
        <h2>{{ titulo }}</h2>
    </div>
    <div class="infos">
        <div class="info">
            <h3>Placa:</h3>
            <p class="placa">{{ placa }}</p>
        </div>
        <div class="info">
            <h3>Condutor:</h3>
            <p>{{ condutor }}</p>
        </div>
        <div class="info">
            <h3>Horario:</h3>
            <p>{{ horario }}</p>
        </div>
    </div>
    <form class="button-box" (ngSubmit)="submit()" #cardForm="ngForm">
        <button type="submit" class="liberar" name="action" value="liberar">
            <lucide-icon name="CircleCheck"></lucide-icon> Finalizar Estacionamento
        </button>
    </form>
</div>