header {
    background-color: #181D24;
    border-bottom: 1px solid #282E38;
    padding: 12px 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-size: 20px;
    font-weight: 700;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title-box lucide-icon {
    display: flex;
    align-items: center;
    background-color: rgba(0, 107, 143, 0.4);
    border-radius: 12px;
    padding: 8px;
}

.card-top {
    margin-bottom: 12px;
}

.card-title {
    display: flex;
    align-items: end;
    gap: 8px;
}

.card-title h2 {
    font-size: 22px;
}

.card-main {
    display: flex;
    flex-direction: column;
    background-color: #181D24;
    border: 1px solid #282E38;
    border-radius: 8px;
    padding: 14px;
    margin-top: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}