.cta-final-section {
    padding: 100px 20px;
    text-align: center;
}
.cta-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 40px;
    border-radius: 20px;
    color: var(#0a0a0c);
    background: #40adf1;
    box-shadow: 0 15px 50px rgba(0, 191, 255, 0.5);
}
.cta-card h2 {
    color: var(-#0a0a0c); 
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
}
.cta-card p {
    color: var(#0a0a0c);
    font-size: 1.2em;
    margin-bottom: 30px;
}
.cta-card .cta-button-inside {
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    color: #00BFFF;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}
.cta-card .cta-button-inside:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.cta-card .cta-button-inside:hover::before{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}