<div class="modals">
    <div inputs></div>
    <h1>{{ titulo }}</h1>
    <div class="infos">
        <form>
            <p>{{ input1 }}</p>
            <input 
            type="number"
            class="input"
            placeholder="Digite o valor da recarga"
            [(ngModel)]="valor"
            name="valor">

            <div class="select-box">
                <select [(ngModel)]="tipoPagamento" name="tipoPagamento">
                    <option value="credito">Crédito</option>
                    <option value="debito">Débito</option>
                </select>
            </div>

            <div class="button-box">
                <app-btn tipo="submit" valor="Recarregar" (click)="confirmar()"></app-btn>
            </div>
        </form>
        <button (click)="close()" class="fechar">Fechar</button>
    </div>
</div>