<div class="modals">
    <h1>Adicionar Veículo</h1>
    <div class="infos">
        <form>
            <div class="input-box">
                <p>Placa do Veículo</p>
                <input type="text" class="input" placeholder="placa">
            </div>
            <div class="input-box">
                <p>Modelo do Veículo</p>
                <input type="text" class="input" placeholder="modelo">
            </div>
            <div class="button-box">
                <app-btn tipo="submit" valor="Confirmar"></app-btn>
            </div>
        </form>
        <button (click)="close()" class="fechar">Fechar</button>
    </div>
</div>