/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e4e4e4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  width: min(100% - 32px, 1400px);
  margin-inline: auto;
}

body {
  background-color: #0F1419;
  height: 100vh;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(10px);
}