.header {
    background-color: #242B35 ;
    padding: 30px;
}
.txt-header{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 20px;
    
}
.saldo {
    background-color: #16B4DD;
}
.icones {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.disponivel {
    color: black;
}
.valor{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

