.header {
    background-color: #242B35 ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-box {
    margin-left: 20px;
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo lucide-icon {
    display: flex;
    align-items: center;
    background-color: rgba(0, 107, 143, 0.4);
    border-radius: 12px;
    padding: 8px;
}
    
.txt-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}
.efeito {
    transition: all 0.5s;
    padding: 6px;
}
.efeito:hover {
    transform:scale(1.05) ;
    box-shadow: 0 0 18px rgba(112, 197, 240, 0.9);
    background-color: #0ac7ed;
    border-radius: 20px;

}

 /* separando as divs */


.saldo {
    background-color:#0f1419;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.normal{
    border-radius: 20px;
    padding: 20px;
    background-color: #0ac7ed;
    padding-left: 20px;
    padding-right: 10px;
    border-color: transparent;
    width: 1100px;
}
.disponivel {
    color: black;
    padding-bottom: 6px;
}
.valor{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-right: 30px;
}
h2{
    color: black;
    font-size: 38px;
}
.icone-dolar {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #70c5f0;
}
:host ::ng-deep .icone-dolar svg {
    stroke-width: 1.5   ;
}
.recarga {
    background-color:#4da0c8;
    width: 97%;
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    gap: 10px;
    padding: 12px 0;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.recarga:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #3f8fb6, #2f7ea4);
    box-shadow: 0 0 18px rgba(112, 197, 240, 0.9);
}


    /* separando as divs */

.estacionamento, .veiculos {
    background-color: #0f1419;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.pontilhamento {
    display: flex;
    flex-direction: column;
    border: 2px solid #0f1419;
    background-color: #181d25;
    padding-top: 40px;
    padding: 60px;
    width: 1100px;
}
.carro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.branco {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-top: 6px;
}
.cinza {
    color: #8a94a6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.botao-mapa {
    border-radius: 10px;
    background-color: #0ac7ed;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 0 40px rgba(0, 191, 255, 0.4);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.botao-mapa:hover {
    transform: scale(1.10);

}

/* dividindo as divs */

.acesso-rapido {
    background-color: #0f1419;
    min-height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.tres {
    border: 2px solid #0f1419;
    background-color: #181d25;
    padding: 40px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.tres:hover {
    transform: scale(1.05);
    background-color: #2f7ea4;
}
@media (min-width: 1200px){
    .tres{
        min-width: 355px;
    }
}
.maps {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px; 
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}