<div class="header">
    <div class="logo">
        <lucide-icon name="car" color="#16B4DD"></lucide-icon>
    </div>
    <div class="title-box">
        <h3>VagaSmart</h3>
        <div class="txt-header">
            <p>Bem-Vindo de Volta!!</p>
        </div>
    </div>
    <div class="icones">
        <lucide-icon name="Bell" size="18px" class="efeito"></lucide-icon>
        <lucide-icon name="Menu" size="18px" class="efeito"></lucide-icon>
    </div>
</div>


<div class="saldo">
    <fieldset class="normal">
        <p class="disponivel">Saldo disponivel:</p>
        <div class="valor">
            <h2>R$ {{ valor }}</h2>
            <lucide-icon name="dollar-sign" class="icone-dolar" color="black" size="38px"></lucide-icon>
        </div>
        <div class="btn-recarga">
            <button type="submit" class="recarga" (click)="saldoRecarga()"> <lucide-icon name="wallet"></lucide-icon>Recarregar Saldo</button>
        </div>
    </fieldset>
</div>


<div class="estacionamento">
    <fieldset class="pontilhamento">
        @if (gateEvent) {
            @for (ge of gateEvent; track $index) {
                
            }
        }
        <lucide-icon name="Car" class="carro" size="38px"></lucide-icon>
        <p class="branco">Nenhum estacionamento ativo</p>
        <p class="cinza">Encontre uma vaga disponivel no mapa</p>
        <div class="mapa">
            <button class="botao-mapa"> <lucide-icon name="map-pin" class="" size="18px"></lucide-icon> Buscar vaga
            </button>
        </div>
    </fieldset>
</div>

<div class="acesso-rapido">
    <fieldset class="tres" (click)="openModalVaga()">
        <button class="maps"><lucide-icon name="map-pin" class="" size="18px"></lucide-icon>Encontrar vaga</button>
    </fieldset>

    <fieldset class="tres" (click)="openModalVeiculo()">
        <button class="maps"><lucide-icon name="car" class="" size="18px"></lucide-icon>Adicionar carro</button>
    </fieldset>
    <fieldset class="tres" (click)="saldoRecarga()">
        <button class="maps"><lucide-icon name="CreditCard" class="" size="18px"></lucide-icon>Recarregar</button>
    </fieldset>
</div>
<app-footer></app-footer>